<form class="example-form">
    <mat-form-field class="example-full-width" appearance=standard>
        <mat-label>Search</mat-label>
        <input matInput #searchInput (input)="search(searchInput.value)">
    </mat-form-field>
</form>
