<div class="card-wrap" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-card class="example-card" *ngFor="let pet of pets | paginate: { id: 'pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: length }" (click)="redirectToPetInfo(pet)">
        <mat-card-header>
            <mat-card-title>{{pet.name}}</mat-card-title>
            <mat-card-subtitle>{{pet.breed}}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="!pet.photo" mat-card-image src="assets/img/Photo-Not-Available-cat.jpeg" alt="Photo of a Shiba Inu">
        <img *ngIf="pet.photo" mat-card-image src="assets/img/{{pet.photo}}" alt="Photo of a Shiba Inu">
        <mat-card-content class="card-content">
            <div class="line" [ngClass]="{isAdopt: pet.isAdopt}"></div>
            <div class="info-pet">
                <div>Gender: {{pet.gender}}</div>
                <div>Age:
                    <span *ngIf="pet.age.year">{{pet.age.year}} Year</span>
                    <span *ngIf="pet.age.month"> {{pet.age.month}} Month</span>
                </div>
                <div>Medical notes:
                    <span [ngSwitch]="pet.medicalNotes">
                     <span *ngSwitchCase="true">Yes</span>
                     <span *ngSwitchCase="false">No</span>
                </span>
                </div>
                <div>Adopted:
                    <span [ngSwitch]="pet.isAdopt">
                     <span *ngSwitchCase="true">Yes</span>
                     <span *ngSwitchCase="false">No</span>
                </span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <pagination-controls id="pagination"
                         (pageChange)="page = $event"
                         maxSize="9"
                         directionLinks="true"
                         autoHide="true"
                         responsive="true"
                         previousLabel="Previous"
                         nextLabel="Next"
                         screenReaderPaginationLabel="Pagination"
                         screenReaderPageLabel="page"
                         screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>

