.example-card {
  max-width: 300px;
  overflow: hidden;
  border: rgba(0, 0, 0, 0.3) solid 1px;
  margin-bottom: 20px;
  width: 300px;

  .line {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    background: rgba(0, 128, 0, 0.5);
  }

  .isAdopt {
    background: rgba(0, 0, 0, 0.5);

  }

  .card-content {
    margin-top: 30px;

    .info-pet {
      margin-top: 5px;

      div {
        margin-bottom: 5px;
      }
    }
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 300ms;
    margin: 0 auto;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
}

.active {
  &:hover {
    box-shadow: none;
  }
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

::ng-deep .mat-paginator-container {
  font-size: 18px;
}

::ng-deep .mat-select-panel {
  font-size: 15px !important;
}

@media (max-width: 1035px) {
  .card-wrap{
    justify-content: space-around !important;
  }
}

.pagination{
  width: 100%;
  height: 50px;
}