<div class="wrap-detail-info" *ngIf="pet">
    <div class="back" (click)="back()"></div>
    <div class="header">
        <h1 class="title">{{pet.name}}</h1>
    </div>
    <div class="photos" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div class="photo" *ngFor="let photo of photoArr">
            <img *ngIf="photo" src="assets/img/{{photo}}" alt="">
            <img *ngIf="!photo" src="assets/img/Photo-Not-Available-cat.jpeg" alt="">
        </div>
    </div>
    <div class="detail-info" fxLayout="row wrap" fxLayoutAlign="space-between">
        <div class="info">
            <div>Bread: {{pet.breed}}</div>
            <div>Gender: {{pet.gender}}</div>
            <div>Age:
                <span *ngIf="pet.age.year">{{pet.age.year}} Year</span>
                <span *ngIf="pet.age.month"> {{pet.age.month}} Month</span>
            </div>
            <div>Medical notes:
                <span [ngSwitch]="pet.medicalNotes">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchCase="false">No</span>
        </span>
            </div>
            <div>Location: {{pet.location}}</div>
        </div>
        <div class="description">
            {{pet.description}}
        </div>
    </div>

    <div class="button" fxLayout="row wrap" fxLayoutAlign="center" *ngIf="!pet.isAdopt">
        <button (click)="adoptPet(pet.id)">
                <span> Adopt Me!</span>
        </button>
    </div>
</div>
