.wrap-detail-info {
  .back {
    transition: 300ms;
    margin: 20px 0 -70px 0;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50%;
    border: 3px solid;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;

    &::before {
      transition: 300ms;
      content: ' ';
      display: block;
      width: 30px;
      height: 3px;
      background: #000;
      position: absolute;
      top: 17px;
      transform: rotate(-30deg);
      left: 5px;
      border-radius: 5px;
    }

    &::after {
      transition: 300ms;
      content: ' ';
      display: block;
      width: 30px;
      height: 3px;
      background: #000;
      position: absolute;
      bottom: 16px;
      transform: rotate(30deg);
      left: 5px;
      border-radius: 5px;

    }
  }

  .header {
    .title {
      margin-top: 80px;
      text-align: center;
      font-size: 48px;
      font-family: 'Montserrat', sans-serif;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .photos {
    .photo {
      max-width: 350px;
      overflow: hidden;

      margin-bottom: 20px;

      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        transition: 300ms;
        margin: 0 auto;
      }
    }
  }

  .detail-info {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    margin: 30px 25px 0 25px;

    .info {
      div {
        margin: 0 0 20px 0;
      }

    }

    .description {
      width: 70%;
      text-align: justify;
      line-height: 25px;
    }
  }

  .button {
    width: 100%;

    button {
      transition: 300ms;
      border: none;
      background: rgba(0, 128, 0, 0.5);
      cursor: pointer;
      width: 220px;
      height: 45px;
      border-radius: 3px;
      font-size: 16px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.6);

      &:hover {
        background: none;
        box-shadow: 0 0 15px rgba(0, 128, 0, 0.8);
        color: rgba(0, 128, 0, 0.5);
      }
    }

    .isAdopted {
      &:hover {
        box-shadow: none;
        color: rgba(0, 0, 0, 0.6);
        background: rgba(0, 128, 0, 0.5);
      }
    }
  }
}