.wrap-content {
  width: 100%;
  transition: 300ms;
  margin: 100px 0 20px 0;
  padding: 20px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


  .filter-wrap {
    .content {
      margin: 0 40px 0 0;
    }

    .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }

    .title-filter {
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 10px 0;
    }

    :nth-child(3) {
      margin-top: 5px;
    }
  }
}

@media (max-width: 1035px) {
  .wrap-content {
    width: 92%;
    margin: 100px auto 20px auto;
    justify-content: center !important;
    align-items: center;
  }
}

@media (max-width: 693px) {
  .filter-wrap {
    justify-content: center;

    .content {
      margin: 0 0 20px 5px !important;

      .title-filter {
        text-align: center;
      }
    }
  }
}