<div class="wrap-content" fxLayout="row wrap-reverse" fxLayoutAlign="space-between center">
    <div class="search-input">
      <search></search>
    </div>
    <div class="filter-wrap" fxLayout="row wrap">
        <div class="content">
            <div class="title-filter">Chose type of pets</div>
            <div class="filter-gender">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="typePets">
                    <mat-radio-button *ngFor="let type of typeArr" [value]="type" (input)="filterPets(type, false)">{{type}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="content">
            <div class="title-filter">Chose gender of pets</div>
            <div class="filter-type">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="gender">
                    <mat-radio-button *ngFor="let gender of genderArr" [value]="gender" (input)="filterPets(gender, true)">{{gender}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
</div>
